/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Main */

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    display: flex;
    margin-top: 80px;
    flex-direction: column;
}

.btn button{
    padding: 5px 15px;
    background-color: aqua;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s;
    margin-bottom: 25px;
}

.btn button:hover{
    transform: scale(1.1);
}

.box{
    margin-right: 50px;
}


.box ol li{
    margin-bottom: 25px;
}

.box ol li a {
    text-decoration: none;
    color: #000;
    padding: 20px 5px;
}


.loading{
    position: absolute;
    top: 30px;
    height: 30px;
    width: 500px;
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
}

.loading .bar{
    height: 100%;
    width: 0;
    background-color: aqua;
}

.loading .bar.active{
    animation: bar 8s linear forwards;
}

@keyframes bar{

    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}
